<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infs4205 Prac 2</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href = "/static/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css">
</head>
<body>
    <div class="container">
        <div class="left-box">
            <button onclick="clear_everything()">Clear all elements</button>
            <hr>
            <h4>List Check Ins</h4>
            This functionality is used to display all the checkins given a user id. If user id does not exist, it will return nothing.
            <br>
            <input type="text" id="myTextbox" name="myTextbox" placeholder="0 to 196590">
            <button 
            hx-get="/get_checkins"  
            hx-trigger="click" 
            hx-swap = "none" 
            hx-include="#myTextbox"
            hx-on:htmx:after-request = "handleCheckins(event)">
            List all checkins</button>
            <hr>
            <h4>Nearest Friend</h4>
            Given a user_id and a location_id, this function will return the 100 nearest friends based on distance.
            This function can be found by opening a pop up on the map
            <hr>
            <h4>List Trajectories</h4>
            Given a user, this function list the trajectory that user has taken
            <br>
            <input type="text" id="myTextbox3" name="myTextbox3" placeholder="0 to 196590">
            <button 
            onclick = "console.log('click traj')"
            hx-get="/traj"  
            hx-trigger="click" 
            hx-swap = "none" 
            hx-include="#myTextbox3"
            hx-on:htmx:after-request = "handleTraj(event)">
            List Trajectory</button>
            <hr>
            <h4>Nearest Friend Trajectory</h4>
            Given a user, this function finds the 10 friends that share a similar trajectory. This is an implemenation of DTW.
            Note: This function may take around 30 seconds
            <br>
            <input type="text" id="myTextbox2" name="myTextbox2" placeholder="0 to 196590">
            <button 
            onclick = "console.log('click work')"
            hx-get="/dtw"  
            hx-trigger="click" 
            hx-swap = "none" 
            hx-include="#myTextbox2"
            hx-on:htmx:after-request = "handleDTW(event)">
            List Nearest Trajectory</button>
            <hr>
            <h4>Friends in a Rectangle</h4>
            This function obtains all the friend checkins of a user bounded in a rectangle.
            In order to set the rectangle, click on the map to set the markers(red). To move the markers,
            simply click on it to remove it.
            <input type="text" id="myTextbox4" name="myTextbox4" placeholder="0 to 196590">
            <button 
            onclick = "handleRec()">
            List Rectangle
            </button>
        </div>
        <div class="main-content">
            <div id = "map"></div>
        </div>
    </div>
</body>
</html>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="/static/main.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>